# Agenda

### To change the datatype of a column
### create a new column 
### changing existing column

In [3]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
        .master("local[*]") \
        .appName("SparkTest") \
        .getOrCreate()

spark

In [4]:
patient = spark.read.format('json'). \
     option('Multiline',True). \
     option('InferSchema',True). \
     load("D:\Datasets\patient_data_nested.json")

In [18]:
from pyspark.sql.functions import *
patient = patient.withColumn('admission_date',to_date('admission_date','dd-mm-yyyy'))

In [19]:
patient.printSchema()

root
 |-- admission_date: date (nullable = true)
 |-- age: long (nullable = true)
 |-- city: string (nullable = true)
 |-- diagnosis: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- name: struct (nullable = true)
 |    |-- first_name: string (nullable = true)
 |    |-- last_name: string (nullable = true)
 |-- patient_id: long (nullable = true)

In [20]:
patient.show()

+--------------+---+---------+-------------+------+--------------+----------+
|admission_date|age|     city|    diagnosis|gender|          name|patient_id|
+--------------+---+---------+-------------+------+--------------+----------+
|    2024-01-15| 45|    Delhi|     Diabetes|  Male|{Amit, Sharma}|       101|
|    2024-01-10| 32|   Mumbai|       Asthma|Female| {Neha, Verma}|       102|
|    2024-01-05| 29|Bangalore|     Fracture|  Male|{Rahul, Mehta}|       103|
|    2024-01-18| 38|     Pune| Hypertension|Female|{Priya, Singh}|       104|
|    2024-01-02| 41|Ahmedabad|Cardiac Issue|  Male|{Karan, Patel}|       105|
+--------------+---+---------+-------------+------+--------------+----------+

In [24]:
sales = spark.read.format('csv'). \
     option('InferSchema',True). \
     option('Header',True). \
     load("D:\Datasets\SQL - Retail Sales Analysis_utf .csv")

In [27]:
sales.printSchema()

root
 |-- transactions_id: integer (nullable = true)
 |-- sale_date: string (nullable = true)
 |-- sale_time: timestamp (nullable = true)
 |-- customer_id: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- category: string (nullable = true)
 |-- quantiy: integer (nullable = true)
 |-- price_per_unit: integer (nullable = true)
 |-- cogs: double (nullable = true)
 |-- total_sale: integer (nullable = true)

In [39]:
sales.select('customer_id','age','gender','quantiy','price_per_unit').show(5)

+-----------+---+------+-------+--------------+
|customer_id|age|gender|quantiy|price_per_unit|
+-----------+---+------+-------+--------------+
|        117| 41|  Male|      3|           300|
|         52| 46|  Male|      3|           500|
|          5| 40|Female|      4|           300|
|         85| 41|  Male|      3|           300|
|         48| 46|  Male|      3|           500|
+-----------+---+------+-------+--------------+
only showing top 5 rows

In [40]:
sales.select('customer_id','age','gender','quantiy','price_per_unit').\
      withColumn('total_sales', col('quantiy') * col('price_per_unit')).show(5)

+-----------+---+------+-------+--------------+-----------+
|customer_id|age|gender|quantiy|price_per_unit|total_sales|
+-----------+---+------+-------+--------------+-----------+
|        117| 41|  Male|      3|           300|        900|
|         52| 46|  Male|      3|           500|       1500|
|          5| 40|Female|      4|           300|       1200|
|         85| 41|  Male|      3|           300|        900|
|         48| 46|  Male|      3|           500|       1500|
+-----------+---+------+-------+--------------+-----------+
only showing top 5 rows

In [41]:
sales.printSchema()

root
 |-- transactions_id: integer (nullable = true)
 |-- sale_date: string (nullable = true)
 |-- sale_time: timestamp (nullable = true)
 |-- customer_id: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- category: string (nullable = true)
 |-- quantiy: integer (nullable = true)
 |-- price_per_unit: integer (nullable = true)
 |-- cogs: double (nullable = true)
 |-- total_sale: integer (nullable = true)

In [42]:
sales.select('customer_id','age','gender','quantiy','price_per_unit').\
      withColumn('dummy',lit('sales_data')).show(5)

+-----------+---+------+-------+--------------+----------+
|customer_id|age|gender|quantiy|price_per_unit|     dummy|
+-----------+---+------+-------+--------------+----------+
|        117| 41|  Male|      3|           300|sales_data|
|         52| 46|  Male|      3|           500|sales_data|
|          5| 40|Female|      4|           300|sales_data|
|         85| 41|  Male|      3|           300|sales_data|
|         48| 46|  Male|      3|           500|sales_data|
+-----------+---+------+-------+--------------+----------+
only showing top 5 rows

In [43]:
sales.select('customer_id','age','gender','quantiy','price_per_unit').\
      withColumn('price_per_unit', col('price_per_unit') * .9).show(5)

+-----------+---+------+-------+--------------+
|customer_id|age|gender|quantiy|price_per_unit|
+-----------+---+------+-------+--------------+
|        117| 41|  Male|      3|         270.0|
|         52| 46|  Male|      3|         450.0|
|          5| 40|Female|      4|         270.0|
|         85| 41|  Male|      3|         270.0|
|         48| 46|  Male|      3|         450.0|
+-----------+---+------+-------+--------------+
only showing top 5 rows

In [44]:
spark.stop()