# Agenda

## Different ways to select the data

## creating a spark session

In [3]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
        .master("local[*]") \
        .appName("SparkTest") \
        .getOrCreate()

spark

## creating a dataframe by reading a data file

In [4]:
sales = spark.read.format('csv'). \
     option('InferSchema',True). \
     option('Header',True). \
     load("D:\Datasets\SQL - Retail Sales Analysis_utf .csv")

In [7]:
sales.printSchema()

root
 |-- transactions_id: integer (nullable = true)
 |-- sale_date: string (nullable = true)
 |-- sale_time: timestamp (nullable = true)
 |-- customer_id: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- category: string (nullable = true)
 |-- quantiy: integer (nullable = true)
 |-- price_per_unit: integer (nullable = true)
 |-- cogs: double (nullable = true)
 |-- total_sale: integer (nullable = true)

### 1. select() (MOST COMMON)

In [10]:
sales.select('customer_id').show(3)

+-----------+
|customer_id|
+-----------+
|        117|
|         52|
|          5|
+-----------+
only showing top 3 rows

In [11]:
sales.select('*').show(2)

+---------------+----------+-------------------+-----------+------+---+--------+-------+--------------+-----+----------+
|transactions_id| sale_date|          sale_time|customer_id|gender|age|category|quantiy|price_per_unit| cogs|total_sale|
+---------------+----------+-------------------+-----------+------+---+--------+-------+--------------+-----+----------+
|            180|05-11-2022|2026-01-08 10:47:00|        117|  Male| 41|Clothing|      3|           300|129.0|       900|
|            522|09-07-2022|2026-01-08 11:00:00|         52|  Male| 46|  Beauty|      3|           500|145.0|      1500|
+---------------+----------+-------------------+-----------+------+---+--------+-------+--------------+-----+----------+
only showing top 2 rows

### 2. col() (FUNCTION STYLE)

In [20]:
from pyspark.sql.functions import *
sales.select(column('transactions_id'),col('sale_date') ,col('gender'),(col('quantiy') + 5).alias('increased_price')).show(4)

+---------------+----------+------+---------------+
|transactions_id| sale_date|gender|increased_price|
+---------------+----------+------+---------------+
|            180|05-11-2022|  Male|              8|
|            522|09-07-2022|  Male|              8|
|            559|12-12-2022|Female|              9|
|           1180|06-01-2022|  Male|              8|
+---------------+----------+------+---------------+
only showing top 4 rows

### 3. selectExpr() (SQL-LIKE üî•)

In [21]:
sales.selectExpr('transactions_id',
               'quantiy * 5 as better_qnty').show(5)

+---------------+-----------+
|transactions_id|better_qnty|
+---------------+-----------+
|            180|         15|
|            522|         15|
|            559|         20|
|           1180|         15|
|           1522|         15|
+---------------+-----------+
only showing top 5 rows

### 4. DataFrame Column Object (df["col"])

In [25]:
sales.select(["transactions_id"]).show(5)

+---------------+
|transactions_id|
+---------------+
|            180|
|            522|
|            559|
|           1180|
|           1522|
+---------------+
only showing top 5 rows

In [26]:
sales.select(["transactions_id","quantiy"]).show(5)

+---------------+-------+
|transactions_id|quantiy|
+---------------+-------+
|            180|      3|
|            522|      3|
|            559|      4|
|           1180|      3|
|           1522|      3|
+---------------+-------+
only showing top 5 rows

In [6]:
### 5. Dot Notation (df.colName) ‚ö†Ô∏è

In [27]:
sales.select(sales.transartions_id).show(4)

+---------------+
|transactions_id|
+---------------+
|            180|
|            522|
|            559|
|           1180|
+---------------+
only showing top 4 rows