In [0]:
students = spark.read.option('Header',True).csv('/Volumes/learn_spark/bronze/datasets/Datasets/students_sample.csv')

In [0]:
students.count()

20

In [0]:
students.printSchema()

root
 |-- student_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- age: string (nullable = true)
 |-- class: string (nullable = true)
 |-- marks: string (nullable = true)
 |-- city: string (nullable = true)

# **** Transformation & Action

## show, display(), count  -- > Action 


## select , wihtColumn, withColumnRenamed, where, filter , column or col , cast

In [0]:
students.select('*').limit(5).display()

student_id,name,gender,age,class,marks,city
1,Aarav,M,15,10A,85,Delhi
2,Ananya,F,14,9B,78,Mumbai
3,Rohan,M,16,10B,92,Pune
4,Priya,F,15,10A,88,Bangalore
5,Karan,M,14,9A,67,Chennai

### WITH COLUMN -- USED FOR CHANGE A COLUMN DATA OR CREATES A NEW COLUMN IF THE COLUMN DIDN'T EXIXTS

In [0]:
students.printSchema()

root
 |-- student_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- age: string (nullable = true)
 |-- class: string (nullable = true)
 |-- marks: string (nullable = true)
 |-- city: string (nullable = true)

In [0]:
# creating a new column
students_df_new.select('*')\
    .withColumn('new_age',(col('age')+5)).show(10)

### CAST TRANSFORMATION USE TO CHANGE THE DATATYPE OF EXISTING COLUMN

In [0]:
from pyspark.sql.functions import *
students_df_new = students.select('*')\
    .withColumn('student_id', col('student_id').cast('int'))\
    .withColumn('age', col('age').cast('int'))\
    .withColumn('marks', col('marks').cast('int'))

In [0]:
students_df_new.printSchema()

root
 |-- student_id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- class: string (nullable = true)
 |-- marks: integer (nullable = true)
 |-- city: string (nullable = true)

In [0]:
students_df_new.show(10)

+----------+------+------+---+-----+-----+---------+
|student_id|  name|gender|age|class|marks|     city|
+----------+------+------+---+-----+-----+---------+
|         1| Aarav|     M| 15|  10A|   85|    Delhi|
|         2|Ananya|     F| 14|   9B|   78|   Mumbai|
|         3| Rohan|     M| 16|  10B|   92|     Pune|
|         4| Priya|     F| 15|  10A|   88|Bangalore|
|         5| Karan|     M| 14|   9A|   67|  Chennai|
|         6|  Neha|     F| 15|  10C|   90|Hyderabad|
|         7| Arjun|     M| 16|  11A|   73|    Delhi|
|         8|  Isha|     F| 14|   9C|   81|   Jaipur|
|         9|Vikram|     M| 15|  10B|   59|   Indore|
|        10| Sneha|     F| 16|  11B|   95|     Pune|
+----------+------+------+---+-----+-----+---------+
only showing top 10 rows

### FILTER OR WHERE USED TO FILTER THE RECORDS

In [0]:
students_df_new.filter(column('marks') > 80).count()

11

In [0]:
students_df_new.where(column('gender') == 'F').count()

10

###  Alias used to change the name of an existing column or for a new column after col('column).alias('new_column_name')


### withColumnRenamed used to change that paricular name

In [0]:
students_df_new.select('*')\
    .withColumnRenamed('age', 'new_age').show(10)

+----------+------+------+-------+-----+-----+---------+
|student_id|  name|gender|new_age|class|marks|     city|
+----------+------+------+-------+-----+-----+---------+
|         1| Aarav|     M|     15|  10A|   85|    Delhi|
|         2|Ananya|     F|     14|   9B|   78|   Mumbai|
|         3| Rohan|     M|     16|  10B|   92|     Pune|
|         4| Priya|     F|     15|  10A|   88|Bangalore|
|         5| Karan|     M|     14|   9A|   67|  Chennai|
|         6|  Neha|     F|     15|  10C|   90|Hyderabad|
|         7| Arjun|     M|     16|  11A|   73|    Delhi|
|         8|  Isha|     F|     14|   9C|   81|   Jaipur|
|         9|Vikram|     M|     15|  10B|   59|   Indore|
|        10| Sneha|     F|     16|  11B|   95|     Pune|
+----------+------+------+-------+-----+-----+---------+
only showing top 10 rows