# Tranformation_part_9
## Joins 
### inner, left, right, full, left-anti, left-semi

#### Data Ingestion

In [0]:
emp_data = [
    (1, "Alice", 10, 60000),
    (2, "Bob", 20, 70000),
    (3, "Charlie", 10, 80000),
    (4, "David", 30, 75000),
    (5, "Eva", None, 65000),
    (6, "Frank", 40, 72000)
]

emp_cols = ["emp_id", "emp_name", "dept_id", "salary"]

emp_df = spark.createDataFrame(emp_data, emp_cols)
emp_df.show()



dept_data = [
    (10, "Engineering"),
    (20, "HR"),
    (30, "Finance"),
    (50, "Marketing")
]

dept_cols = ["dept_id", "dept_name"]

dept_df = spark.createDataFrame(dept_data, dept_cols)
dept_df.show()

+------+--------+-------+------+
|emp_id|emp_name|dept_id|salary|
+------+--------+-------+------+
|     1|   Alice|     10| 60000|
|     2|     Bob|     20| 70000|
|     3| Charlie|     10| 80000|
|     4|   David|     30| 75000|
|     5|     Eva|   NULL| 65000|
|     6|   Frank|     40| 72000|
+------+--------+-------+------+

+-------+-----------+
|dept_id|  dept_name|
+-------+-----------+
|     10|Engineering|
|     20|         HR|
|     30|    Finance|
|     50|  Marketing|
+-------+-----------+

## Inner Join
### Basically shares the common data of both the tables

In [0]:
emp_df.join(dept_df,'dept_id', 'inner').display()

dept_id,emp_id,emp_name,salary,dept_name
10,1,Alice,60000,Engineering
20,2,Bob,70000,HR
10,3,Charlie,80000,Engineering
30,4,David,75000,Finance

## LEFT JOIN
### It shows all the data from your left/first table and not matching i.e Ids not in 2nd table as null

In [0]:
emp_df.join(dept_df,'dept_id', 'left').display()

dept_id,emp_id,emp_name,salary,dept_name
10,1,Alice,60000,Engineering
20,2,Bob,70000,HR
10,3,Charlie,80000,Engineering
30,4,David,75000,Finance
null,5,Eva,65000,null
40,6,Frank,72000,null

## RIGHT JOIN
### It shows all the data from your right/second table and not matching i.e Ids not in 1st table as null

In [0]:
emp_df.join(dept_df,'dept_id', 'right').display()

dept_id,emp_id,emp_name,salary,dept_name
10,3,Charlie,80000,Engineering
10,1,Alice,60000,Engineering
20,2,Bob,70000,HR
30,4,David,75000,Finance
50,null,null,null,Marketing

## full join
### gives all the data from the two tables without worring about null keys (combination of both i.e left + right)

In [0]:
emp_df.join(dept_df,'dept_id', 'full').display()

dept_id,emp_id,emp_name,salary,dept_name
10,1,Alice,60000,Engineering
20,2,Bob,70000,HR
10,3,Charlie,80000,Engineering
30,4,David,75000,Finance
null,5,Eva,65000,null
40,6,Frank,72000,null
50,null,null,null,Marketing

## left Anti
### Very Imp gives result which is not in left join as name suggest anti

In [0]:
emp_df.join(dept_df,'dept_id', 'left').display()
emp_df.join(dept_df,'dept_id', 'leftanti').display()

dept_id,emp_id,emp_name,salary,dept_name
10,1,Alice,60000,Engineering
20,2,Bob,70000,HR
10,3,Charlie,80000,Engineering
30,4,David,75000,Finance
null,5,Eva,65000,null
40,6,Frank,72000,null

dept_id,emp_id,emp_name,salary
null,5,Eva,65000
40,6,Frank,72000

## Left semi 
### show only left table data + only distinct ids

In [0]:
emp_df.join(dept_df,'dept_id', 'left').display()
emp_df.join(dept_df,'dept_id', 'left_semi').display()

dept_id,emp_id,emp_name,salary,dept_name
10,1,Alice,60000,Engineering
20,2,Bob,70000,HR
10,3,Charlie,80000,Engineering
30,4,David,75000,Finance
null,5,Eva,65000,null
40,6,Frank,72000,null

dept_id,emp_id,emp_name,salary
10,1,Alice,60000
20,2,Bob,70000
10,3,Charlie,80000
30,4,David,75000